@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding-left: 15%;
	padding-right: 15%;
	background-position: center top;

}

/* Navigation */

.header {
	margin: 0;
	padding: 0;
	width: auto;
	height: 85%;
  margin-left: 10px;
}

.top {
  /*position: absolute;*/
  font-weight: 800;
  font-style: "Open Sans";
  color: #dc9c27;
  font-size: 75px;
  text-align: center;
  left: 20%;
  right: 20%;
  top: 30%;
  padding-top: 200px;
  margin: auto;

  width: 90%;

  /*border: 2px solid red;*/
}

.scroll {  
  /*position: absolute;*/
  font-weight: 400;
  font-style: italic;
  font-style: "Open Sans";
  font-size: 17px;
  color: #828282;
  text-align: center;
  left: 15%;
  right: 15%;

  padding-top: 10%;
  width: 275px;
  /*top: 65%;*/

  /*border: 2px solid red;*/
  margin: auto;
}

.links {
  float: right;
  width: 20%;
  height: 80px;
  margin-top: 50px;
  padding-right: -20px;
}

.links a {
  float: right;
  margin-right: -75%;
  padding-bottom: 3px;
}

.arrow {
  margin: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10%;
  /*border: 2px solid red;*/

}

.arrow img {
  margin: auto;
  width: 40px;
}

.links a:hover {

}

/* Grid */

#wrapper {
	overflow: hidden;
  padding-bottom: 80px;
}

.box {
	position: relative;
	float: left;
	width: 20%;
	padding-bottom: 20%;
}

.boxInner {
	position: absolute;
	overflow: hidden;
	padding: 10px;
	left: 1px;
	right: 1px;
	top: 1px;
	bottom: 1px;
}

.boxInner img {
	width: 90%;
	position: absolute;
}

/* Hover */

.boxInner .object {
	display:none;
}

.boxInner:hover .object {
	display:inline-block;
}

.boxInner:hover .pancake {
	display: none;
}

/* Modal */

.modal-container {
  position: absolute;
  top: 50%;
  margin-top: -200px; /* half of #content height*/
  left: 0;
  width: 100%;
}

.modal-dialog {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}  

.modal-content {
  height: 400px;
}

.modal-item {
  font-style: 'Open Sans';
  font-weight: 700;
  font-size: 32px;
  position: absolute;

  padding-top: 100px;

  text-align: center;
  width: 40%;
  float: right;
  left: 50%;
  top: 15%;


  /*border: 2px solid red;*/
}

.modal-title {
  font-style: 'Open Sans';
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  position: absolute;
  text-align: center;
  width: 40%;
  float: right;
  left: 50%;
  top: 60%;
  color: #8C8C8C;

  padding-top: 20px;
  margin-bottom: 20px;

  margin: auto;  
  /*border: 2px solid red;*/
}

.modal-image {
  position: absolute;
  float: left;
  width: 50%;
  height: 100%;
}

.item-image {
  position: absolute;
  left: 15%;
  top: 20%;
  width: 70%;
}

.close {
  margin: 15px;
}


@media only screen and (max-width : 480px) {
      /* Smartphone view: 1 tile */
      .box {
        width: 100%;
        padding-bottom: 100%;
      }
    }
   
@media only screen and (max-width : 650px) and (min-width : 481px) {
      /* Tablet view: 2 tiles */
      .box {
        width: 50%;
        padding-bottom: 50%;
      }
    }
    
@media only screen and (max-width : 1050px) and (min-width : 651px) {
      /* Small desktop / ipad view: 3 tiles */
      .box {
        width: 33.3%;
        padding-bottom: 33.3%;
      }
    }
    
 @media only screen and (max-width : 1290px) and (min-width : 1051px) {
      /* Medium desktop: 4 tiles */
      .box {
        width: 25%;
        padding-bottom: 25%;
      }
    }
